.reviews h2 {
  margin: 20px 0;
}

.reviewsList {
  font-size: 20px;
}

.titleName {
  font-size: 22px;
  font-weight: 500;
  color: rgb(153, 153, 153);
}

.error {
  font-size: 20px;
  font-weight: 400;
}
