.navigation {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
  padding: 20px 20px;
  gap: 30px;
}

.navigationItem {
  border: none;
  font-size: 20px;
}

.link {
  color: rgb(255, 255, 255);
}

.active {
  color: orangered;
}

@media screen and (min-width: 768px) {
  .navigation {
    padding: 0 30px;
  }

  .navigationItem {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .navigationItem {
    font-size: 24px;
  }
}
