.navigation {
  display: flex;
  justify-content: space-between;
  /* gap: 30px; */
}

.navigationItem {
  border: 1px solid black;
  border-radius: 10px;
  padding: 8px 16px;
  font-size: 20px;
}

.navigationItem:hover {
  border-color: orangered;
}
.link {
  color: rgb(243, 149, 77);
}

.active {
  border-color: orangered;
  color: orangered;
}

@media screen and (min-width: 768px) {
  .navigationItem {
    font-size: 22px;
  }
}

@media screen and (min-width: 1440px) {
  .navigationItem {
    font-size: 24px;
  }
}
