.searchPage {
  padding-top: 20px;
}

.title {
  text-align: center;
  color: orangered;
  font-size: 30px;
}

.btnWrap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
}

.error {
  margin-top: 20px;
  text-align: center;
  font-size: 24px;
}

@media screen and(min-width: 768px) {
  .title {
    font-size: 37px;
  }
}
