.searchContainer {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  margin-top: 20px;
}

.form {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  width: 166px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-size: 16px;
}

.btnSearch {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border: none;
  background-color: #136941;
  border: 1px solid black;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.btnSearch:hover {
  background-color: #1c8258;
}

.btnSearch svg {
  margin-right: 8px;
}

@media screen and (min-width: 768px) {
  .form {
    /* flex-direction: column; */
    align-items: center;
    gap: 20px;
  }

  .input {
    width: 500px;
  }
}

@media screen and (min-width: 1440px) {
  .input {
    width: 700px;
  }
}
