:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  /* font-weight: 400; */

  color-scheme: light dark;
  color: rgb(255, 255, 255);
  background-color: #242424;
  margin: 0 auto;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ec553d;
  text-decoration: inherit;
}
a:hover {
  color: #ec553d;
}

body {
  background: rgb(30, 161, 98);
  background: linear-gradient(
    0deg,
    rgba(30, 161, 98, 1) 0%,
    rgba(46, 45, 43, 1) 100%
  );
  color: rgba(255, 255, 255, 0.921);
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  color: rgb(0, 1, 0);
  font-size: 45px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  width: 500px;

  height: auto;
}

/* button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
} */

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  margin-right: 10px;

  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: orangered;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: orangered;
  }
  button {
    background-color: #f9f9f9;
  }
}
