.currentFilm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.img {
  width: 100%;
}

.filmContent {
  font-size: 20px;
}

.filmContent span {
  font-size: 22px;
  color: rgb(153, 153, 153);
  font-weight: 500;
}

.img {
  width: 500px;
}

@media screen and (min-width: 768px) {
  .currentFilm {
    flex-direction: row;
  }

  .movieDetails {
    margin-top: 30px;
  }

  .img {
    width: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .img {
    width: 400px;
  }

  .currentFilm {
    gap: 30px;
  }
}
